/* -------------------------
   GLOBAL STYLES
--------------------------*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* -------------------------
   HEADER + NAVIGATION
--------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

header img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

/* -------------------------
   HERO SECTION
--------------------------*/
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/*overlay box*/
.about-overlay{

    position:absolute;
    bottom:70px; /*move it up/down*/
    left:15%;
    transform: translateX(-50%);
    background-color: rgba(0, 0,0,o.6);
    color: white;
    background-color: #123a70;
    font-weight: bold;
    padding: 10%;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    

}


/* -------------------------
   ABOUT SECTION
--------------------------*/
.about {
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.about h2 {
    background-color: #123a70;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.about .about.content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.about img {
    border-radius: 10px;
}

/* -------------------------
   SIMPLE SECTION TITLE
--------------------------*/
section h2 {
    text-align: center;
    background-color: #123a70;
    color: white;
    padding: 20px;
    margin-top: 50px;
}

/* -------------------------
   FOOTER
--------------------------*/
footer {
    background-color: #123a70;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer img {
    width: 35px;
    margin: 10px;
    vertical-align: middle;
}

footer a {
    text-decoration: none;
}
h2{
text-align: center;
    background-color: #123a70;
    color: white;
    padding: 10px;
    margin-top: 40px;

}



