
nav a{
    color: white;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
aside {
width:20em;
margin:1em;
border:1px;
padding:1em;
background-color:#eee;
color:#333;
text-align: center;
}
aside img{
width: 200px;
height: auto;

}


p {
padding: 0;
}
nav{
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


h1 {
color: black;
border-bottom: #333;
}

.grid,header,footer{
max-width: 840px;
margin: 0 auto;

}
.grid{
display: grid;
align-items: center;

}
main{
grid-column: 2/3;
margin: 1rem;

}

aside{
width: 20rem;
position: relative;
grid-column: 1/2;
grid-row: 1/2;


}