main img{
width: 150px;
height: auto;
border: 1px solid slateblue;
padding: 2px;
box-shadow: 0 0 30px gray;

}

nav a{
    color: white;
    padding: 10px;
    display: block;
}
aside {
width:20em;
margin:1em;
border:1px;
padding:1em;
background-color:#eee;
color:#333;
text-align: center;
}
aside img{
width: 200px;
height: auto;

}
footer{
margin-top: 1em;
border-top: 1px solid #000;
text-align: center;
}

p {
padding: 0;
}